<div class='mt-5'>
	<form method='POST' action=''>
		<div class='form-group'>
			<label for='search-input'>Từ khóa</label>
			<input
				type='text'
				class='form-control'
				id='search-input'
				placeholder='Tìm kiếm'
				name='q'
			/>
		</div>
		<div class='form-group'>
			<select class='form-control' name='select'>
				<option value='1'>1</option>
				<option value='2'>2</option>
				<option value='3'>3</option>
			</select>
		</div>
		<button type='submit' class='btn btn-primary'>Submit</button>
	</form>
</div>